:root {
    --font-primary: "Cormorant Garamond", serif;
    --font-secondary: "Jost", sans-serif;
    --primary-color: #c5a47e;
    --text-color: #eaeaea;
    --bg-color: #0a0f18;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
    color: var(--text-color);
}
